<!-- <nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">conduit</a>

    <ul *showAuthed="false"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/login"
          routerLinkActive="active">
          Sign in
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/register"
          routerLinkActive="active">
          Sign up
        </a>
      </li>

    </ul>

    <ul *showAuthed="true"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/editor"
          routerLinkActive="active">
          <i class="ion-compose"></i>&nbsp;New Article
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/settings"
          routerLinkActive="active">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/profile', currentUser.username]"
          routerLinkActive="active">
          <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
          {{ currentUser.username }}
        </a>
      </li>

    </ul>

  </div>
</nav> -->

<header class="header-area">
    <!-- top header area -->
    <div class="top-header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <!-- header contact -->
                    <div class="top-header-info">
                        <i class="fa fa-clock-o"></i> Sun - Sat, 9am - 5pm
                        <span class="seprator">|</span>
                        <a href="#">
                            <i class="fa fa-phone"></i>11-22-33-44-55</a>
                        <span class="seprator">|</span>
                        <a href="mailto:believed@gmail.com">
                            <i class="fa fa-envelope"></i>test@test.com</a>
                    </div>
                </div>
                <!-- <div class="col-md-5 text-right">
                  
                  <div class="top-header-info header-right">
                      <a href="#">faq</a><span class="seprator">|</span>
                      <a href="#">contact us</a><span class="seprator">|</span>
                      <a href="#">live chat</a>
                  </div>
              </div> -->
            </div>
        </div>
    </div>
    <!-- menu area -->
    <div class="menu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <!-- logo part -->
                    <div class="believed-logo">
                        <a routerLink="/login">
                            <img src="assets/img/ngo.png" alt="">
                        </a>
                    </div>
                    <!-- mobile menu wraper -->
                    <div class="responsive-menu-wrap"></div>
                </div>
                <div class="col-md-10">
                    <!-- menu part -->
                    <nav class="main-menu">
                        <ul class="navigation" *showAuthed="false">
                            <li>
                                <a routerLink="/" routerLinkActive="menu-active" [routerLinkActiveOptions]="{exact:
                                    true}">home</a>
                            </li>
                            <li>
                                <a routerLink="/about" routerLinkActive="menu-active">about us</a>
                            </li>
                            <li>
                                <a href='#'>causes</a>
                            </li>
                            <li>
                                <a href="#">gallery</a>
                            </li>
                            <li>
                                <a href="#">volunteers</a>
                            </li>
                            <li>
                                <a href="#">Events</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                            <!-- <li><a href="#">causes<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                              <ul class="drop-menu">
                                  <li><a href="causes-no-sidebar.html">causes no-Sidebar</a></li>
                                  <li><a href="causes-left-sidebar.html">causes left</a></li>
                                  <li><a href="causes-right-sidebar.html">causes right</a></li>
                                  <li><a href="causes-details-left.html">single causes left</a></li>
                                  <li><a href="causes-details-right.html">single causes right</a></li>
                              </ul>
                          </li> -->
                            <!-- <li><a href="#">gallery<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                              <ul class="drop-menu">
                                  <li><a href="gallery-one.html">gallery style one</a></li>
                                  <li><a href="gallery-two.html">gallery style two</a></li>
                                  <li><a href="gallery-three.html">gallery style three</a></li>
                              </ul>
                          </li> -->
                            <!-- <li><a href="#">volunteers<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                              <ul class="drop-menu">
                                  <li><a href="volunteers-3col.html">volunteers 3col</a></li>
                                  <li><a href="volunteers-4col.html">volunteers 4col</a></li>
                                  <li><a href="volunteers-details.html">single volunteers</a></li>
                              </ul>
                          </li> -->
                            <!-- <li><a href="#">events<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                              <ul class="drop-menu">
                                  <li><a href="events-3col.html">events 3col</a></li>
                                  <li><a href="events-4col.html">events 4col</a></li>
                                  <li><a href="events-details.html">single events</a></li>
                              </ul>
                          </li>
                          <li><a href="#">blog<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                              <ul class="drop-menu">
                                  <li><a href="blog-no-sidebar.html">blog no-Sidebar</a></li>
                                  <li><a href="blog-left-sidebar.html">blog left</a></li>
                                  <li><a href="blog-right-sidebar.html">blog right</a></li>
                                  <li><a href="blog-details-left-sidebar.html">single blog left</a></li>
                                  <li><a href="blog-details-right-sidebar.html">single blog right</a></li>
                              </ul>
                          </li>
                          <li><a href="contact.html">contact us</a></li> -->
                        </ul>
                    </nav>
                    <!-- donate box -->
                    <!-- <div class="donate-box">
                      <a href="#" class="donate-btn hvr-shutter-out-horizontal">donate</a>
                  </div> -->
                </div>
            </div>
        </div>
    </div>
</header>